<header>
<nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top bg-dark">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand text-primary ms-3" href="/acsdm/">ACSDM</a>
<div class="collapse navbar-collapse w-100" id="navbarCollapse">
<ul class="navbar-nav me-auto">
   <li class="nav-item"><a class="nav-link" href="/acsdm/">Home</a></li>
   <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="/caldam/"  data-bs-toggle="dropdown" aria-expanded="false">CALDAM Conferences</a>
   <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="https://caldam2025.psgtech.ac.in/" role="button">PSGTech, Coimbatore, 2025 &raquo;</a></li>
      <li><a class="dropdown-item" href="https://events.iitbhilai.ac.in/caldam2024/" role="button">IIT Bhilai, 2024 &raquo;</a></li>
      <li><a class="dropdown-item" href="https://caldam2023.daiict.ac.in/">DAIICT, Gandhinagar, 2023 &raquo;</a> </li>
      <!--
      <li><a class="dropdown-item" href="https://sites.google.com/pondiuni.ac.in/maths-caldam-2022">Pondicherry University, 2022 &raquo;</a></li>
      -->
      <li><a class="dropdown-item" href="/caldam/2022">Pondicherry University, 2022 &raquo;</a></li>
      <li><a class="dropdown-item" href="https://www.iitrpr.ac.in/caldam2021/">IIT Ropar, 2021 &raquo;<a></li>
      <!--
      <li><a class="dropdown-item" href="http://www.iith.ac.in/~caldam2020/">IIT Hyderabad, 2020 &raquo;</a></li>
      -->
      <li><a class="dropdown-item" href="/caldam/2020/">IIT Hyderabad, 2020 &raquo;</a></li>
      <li><a class="dropdown-item" href="http://cse.iitkgp.ac.in/conf/CALDAM/">IIT Kharagpur, 2019 &raquo;</a></li>
      <li><a class="dropdown-item" href="/caldam/2018/">IIT Guwahati, 2018 &raquo;</a></li>
      <li><a class="dropdown-item" href="/caldam/2017/">BITS Pilani, Goa, 2017 &raquo;</a></li>
      <li><a class="dropdown-item" href="/caldam/2016/">Univ of Kerala, Thiruvananthapuram, 2016 &raquo;</a></li>
      <!--
      <li><a class="dropdown-item" href="http://caldam.cse.iitk.ac.in/">IIT Kanpur, 2015 &raquo;</a></li>
      -->
      <li><a class="dropdown-item" href="/caldam/2016/">IIT Kanpur, 2015 &raquo;</a></li>
   </ul>
   </li>

   <li class="nav-item"><a class="nav-link" href="/acsdm/work/">Activities</a></li>
   <li class="nav-item"><a class="nav-link" href="https://link.springer.com/conference/caldam">Publications</a></li>
   <li class="nav-item"><a class="nav-link" href="/acsdm/history/">History</a></li>
</ul>
<ul class="navbar-nav ms-auto me-2">
   <li class="nav-item"><a class="nav-link" href="/acsdm/people/">People</a></li>
   <li class="nav-item"><a class="nav-link" href="/acsdm/about/">About</a></li>
   <li class="nav-item"><a class="nav-link" href="/acsdm/contact/">Contact</a></li>
</ul>
</div>
</nav>
</header>
