<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="SS, SG">
<link rel="icon" href="favicon.ico">
<title>{{ .Site.Title }}</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
{{ partial "nav.html" }}
<main role="main" class="container">
   <div class="p-3 p-md-5 mt-2 bg-body-secondary">
      <h1 class="display-5 fst-italic fw-normal text-primary">ACSDM</h1>
      <h2 class="lead my-0">Association for Computer Science and Discrete Mathematics</h2>
      <p class="text-tertiary"><small>Registration No. 59220 of 2016-2017
      Under the  West Bengal Societies Registration Act, 1961</small></p>
   </div>
   <div class="p-3 p-md-5 mt-2 bg-body-secondary">
      <h1>Conferences</h1>
      <a class="btn btn-lg btn-primary" href="https://caldam2025.psgtech.ac.in/" role="button">CALDAM 2025 &raquo;</a>
      <a class="btn btn-lg btn-secondary" href="https://events.iitbhilai.ac.in/caldam2024/" role="button">CALDAM 2024 &raquo;</a>
      <a class="btn btn-lg btn-secondary" href="https://caldam2023.daiict.ac.in/" role="button">CALDAM 2023 &raquo;</a>
      <!--
      <a class="btn btn-lg btn-secondary" href="https://sites.google.com/pondiuni.ac.in/maths-caldam-2022" role="button">CALDAM 2022 &raquo;</a>    
      -->
      <a class="btn btn-lg btn-secondary" href="/caldam/2022" role="button">CALDAM 2022 &raquo;</a>
      <a class="btn btn-lg btn-secondary" href="https://www.iitrpr.ac.in/caldam2021/" role="button">CALDAM 2021 &raquo;</a>
      <!--
      <a class="btn btn-lg btn-secondary" href="http://www.iith.ac.in/~caldam2020/" role="button">CALDAM 2020 &raquo;</a>
      -->
      <a class="btn btn-lg btn-secondary" href="/caldam/2020" role="button">CALDAM 2020 &raquo;</a>
      <a class="btn btn-lg btn-secondary" href="http://cse.iitkgp.ac.in/conf/CALDAM/" role="button">CALDAM 2019 &raquo;</a>
      <a class="btn btn-lg btn-secondary" href="/caldam/2018" role="button">CALDAM 2018 &raquo;</a>
      <a class="btn btn-lg btn-secondary" href="/caldam/2017" role="button">CALDAM 2017 &raquo;</a>
      <a class="btn btn-lg btn-secondary" href="/caldam/2016" role="button">CALDAM 2016 &raquo;</a>
      <!--
      <a class="btn btn-lg btn-secondary" href="http://caldam.cse.iitk.ac.in/" role="button">CALDAM 2015 &raquo;</a>
      -->
      <a class="btn btn-lg btn-secondary" href="/caldam/2015" role="button">CALDAM 2015 &raquo;</a>
   </div>
   <div class="p-3 p-md-5 mt-2 bg-body-secondary">
      <h1>Pre-conference Schools</h1>
      <a class="btn btn-lg btn-primary" role="button" href="https://caldam2025.psgtech.ac.in/pre-conference-school">Indo-Spanish 2025 &raquo;</a>
      <a class="btn btn-lg btn-secondary" role="button" href="https://events.iitbhilai.ac.in/caldam2024/pre-conf/">Indo-Slovenian 2024 &raquo;</a>
      <a class="btn btn-lg btn-secondary" role="button" href="https://caldam2023.daiict.ac.in/workshop.php">Indo-Dutch 2023 &raquo;</a>
      <!--
      <a class="btn btn-lg btn-secondary" role="button" href="https://people.iith.ac.in/caldam2020/conferenceschool.php">Indo-French 2020 &raquo;</a>
      -->
      <a class="btn btn-lg btn-secondary" role="button" href="http://acsdm.in/caldam/2020/conferenceschool.php">Indo-French 2020 &raquo;</a>
      <a class="btn btn-lg btn-secondary" role="button" href="http://cse.iitkgp.ac.in/conf/CALDAM/conferenceschool.php">Indo-Italian 2019 &raquo;</a>
      <a class="btn btn-lg btn-secondary" role="button" href="http://acsdm.in/caldam/2018/conferenceschool.php">Indo-Canadian 2018 &raquo;</a>
      <a class="btn btn-lg btn-secondary" role="button" href="http://acsdm.in/caldam/2017/pre_conference_school.html">Indo-German 2017 &raquo;</a>
      <a class="btn btn-lg btn-secondary" role="button" href="http://acsdm.in/caldam/2016/pre_conference_school.html">Indo-Hungarian 2016 &raquo;</a>
      <!--
      <a class="btn btn-lg btn-secondary" role="button" href="https://caldam.cse.iitk.ac.in/pre_conference_school.php">Indo-Czech 2015 &raquo;</a>
      -->
      <a class="btn btn-lg btn-secondary" role="button" href="http://acsdm.in/caldam/2015/pre_conference_school.php">Indo-Czech 2015 &raquo;</a>
   </div>
   <div class="p-3 p-md-5 mt-2 bg-body-secondary">
     <h1>Workshops</h1>
     <a class="btn btn-lg btn-secondary" href="http://universe.bits-pilani.ac.in/hyderabad/elgga/elgga" role="button">ELGGA 2018 &raquo;</a>
     <a class="btn btn-lg btn-secondary" href="http://cs.rkmvu.ac.in/2nd-bdaworkshop2018/" role="button">BigData 2018 &raquo;</a>
     <a class="btn btn-lg btn-secondary" href="http://www.cse.iitm.ac.in/~abd/?mode=Organization" role="button">BigData 2016 &raquo;</a>
   </div>
   <div class="p-3 p-md-5 mt-2 bg-body-secondary">
     <h1>Awards</h1>
     <a class="btn btn-lg btn-secondary" href="/acsdm/awards/" role="button">CALDAM best student presentation awards &raquo;</a>
   </div>
   <div class="p-3 p-md-5 mt-2 bg-body-secondary">
     <h1>Media</h1>
     <a class="btn btn-lg btn-secondary" href="/media/subirghosh-felicitation-caldam-2019.mp4" role="button">Prof Subir Ghosh's felicitation (CALDAM 2019)  &raquo;</a>
   </div>
</main> 
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--
<script src="js/jquery-3.7.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
-->
<script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>
